<!DOCTYPE html>
<html lang="en">
    <h2>Hasil</h2>
    <label>
        <%= hasil %>
    </label>
    <div>
        <button onclick="window.location.href='/'">Kembali</button>
    </div>
</html>